configuration {
	modes: "window,drun,run,ssh,filebrowser";
	font: "mono 12";
	location: 1;
	display-window: "Windows";
	display-drun: "Applications";
	drun-display-format: "{icon} {name}";
	icon-theme: "Papirus-Dark";
	show-icons: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "~/.cache/wal/colors-rofi-dark.rasi"

